.maincont{
    position: relative;
    width: 300px;
    height: 500px;
    transform: translate(-50%,20%);
    /* margin: 0 auto; */
    left: 50%;
    background-color:lightgrey;
    border: 8px solid black;
    border-top-left-radius: 35px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 60px;

}

.header{
    width: 100%;
    height: 30px;
    border-bottom: 4px solid black;
}

.rhead{
    width: 15%;
    border-right: 4px solid black;
    display: inline-block;
    height: inherit;
}

.midhead{
    width: 68%;
    border-right: 4px solid black;
    height: inherit;
    display: inline-block;
}

.mpic{
    position: relative;
    top: 20%;
    left: 10px;
    width: 55px;
    height: 10px;
    border: 4.5px solid black;
    border-radius: 50px;
    background-color:rgb(182, 182, 182);
}

.main{
    width: 80%;
    background-color:rgba(35, 103, 116, 0.534);
    height: 180px;
    border:8px solid black;
    border-radius: inherit;
    margin: 0 auto;
    position: relative;
    top: 15px;

}




.screen{
    border: 4px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px rgba(199, 199, 199, 0.507);
    background: repeating-linear-gradient(135deg, rgba(3, 185, 3, 0.733), rgb(3, 185, 3, 0.733) 40px, rgb(192, 236, 192) 40px, rgb(192, 236, 192) 80px);
    opacity: ;
    width: 65%;
    height: 65%;
    position: relative;
    margin: 0 auto;
    top: 35px;

}

.leye , .reye{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: relative;
    top: 25px;
    /* left: 10px; */
}

.ldot,.rdot{
    width: 11px;
    height: 11px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
}

.ldot{
    top: 9px;
    left: 25px;
}

.rdot{
    top: 9px;
    left: 7px;
}

.leye{
    right: -12px;
}

.reye{
    right: -50px;
}

.mouth{
    width: 35px;
    height: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: black;
    display: inline-block;
    position: relative;
    top: 20px;
    left: 61px;


}


.tounge{
    background-color: rgb(177, 40, 40);
    width: 15px;
    height: 5px;
    position: absolute;
    border-top-left-radius: 60%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
    top: 10px;
    left: 30%;
}

.lchic, .rchic{
    width: 20px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(177, 40, 40);
    position: relative;
}

.lchic{
    top: 30%;
    left: 30px;
}

.rchic{
    top: 0%;
    left: 105px;
}

.firstline{
    height: 5px;
    width: 75px;
    background-color: black;
    position: relative;
    top: 15px;
    left: 25px;
    border-radius: 10px;

}

.aline,.bline,.cline,.dline{
    height: 15px;
    width: 5px;
    background-color: black;
    position: absolute;
    border-radius: 10px;
    display: inline-block;
   
}

.aline{
    left: 110px;
    top: 10px;
}

.bline{
    left: 120px;
    top: 10px;
}

.cline{
    left: 130px;
    top: 10px;
}

.dline{
    left: 140px;
    top: 10px;
}


.eline{
    height: 5px;
    width: 60px;
    background-color: black;
    position: relative;
    top: 10px;
    right: -155px;
    border-radius: 10px;

}

.reddot{
    width: 15px;
    height: 15px;
    background-color:rgba(248, 64, 64, 0.938);
    border-radius: 50%;
    border: 5px solid black;
    box-shadow: 4px 4px rgb(145, 144, 144) ;
    position: absolute;
    top:75px;
    left: 5px;
}

.sline{
    width: 20px;
    height: 5px;
    background-color: black;
    position: absolute;
    border-radius: 10px;
    display: inline-block;
    top: 105px;
    left: 7px;
}

.mline{
    height: 5px;
    width: 40px;
    background-color: black;
    position: relative;
    top: 25px;
    left: 30px;
    border-radius: 10px;

}

.maline,.mbline,.mcline,.mdline,.meline{
    height: 15px;
    width: 5px;
    background-color: black;
    position: absolute;
    border-radius: 10px;
    display: inline-block;
}

.maline{
    top: 250px;
    left:80px;
}

.mbline{
    top: 250px;
    left:90px;
}

.mcline{
    top: 250px;
    left:100px;
}

.mdline{
    top: 250px;
    left:110px;
}

.meline{
    top: 250px;
    left:120px;
}


.hline{
    width: 90px;
    height: 25px;
    background-color:rgba(35, 103, 116, 0.534);
    position:absolute;
    top: 310px;
    left: 30px;
    border: 2px solid black;
    border-radius: 10px;
}


.vrline{
    height: 90px;
    width: 25px;
    background-color:rgba(35, 103, 116, 0.534);
    position:absolute;
    top: 278px;
    left: 63px;
    border: 2px solid black;
    border-radius: 10px;

}

.circles{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:rgba(119, 136, 153, 0.404);
    position:absolute;
    top: 274px;
    left: 27px;
}

.csq{
    width: 30px;
    height: 30px;
    background-color:rgb(35, 103, 116);
    position: relative;
    top: 75px;
    left: 62px;
    z-index: 999;

}


.ccircle{
    width: 7px;
    height: 7px;
    background-color:black;
    border: 4px solid black;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 7px;
}

.pkey1,.pkey2{
    width: 25px;
    height: 25px;
    background-color:#FF6CAA ;
    border-radius: 50%;
    border:5px solid black;
    position: absolute;
}

.pkey1{
    top:320px;
    left: 180px;
}

.pkey2{
    top: 282px;
    left: 225px;
}

.pbg{
    height: 100px;
    width: 40px;
    background-color: #CAC3C1;
    position: absolute;
    transform: rotate(50deg);
    left: 200px;
    top: 268px;
    border-radius: 20px;
}

.fline1,.fline2,.fline3,.fline4,.fline5,.fline6{
    background-color:#6D4B3F;
    height: 45px;
    width: 5px;
    position: absolute;
    transform: rotate(-40deg);
    border-radius: 40px;
}

.fline1{
    top: 455px;
    left: 210px;
}

.fline2{
    top: 440px;
    left: 222px;
}

.fline3{
    top: 425px;
    left: 234px;
}

.fline4{
    top: 410px;
    left: 246px;
}

.fline5{
    top: 395px;
    left: 258px;
}

.fline6{
    top: 380px;
    left: 270px;
}

h1{
    text-align: center;
    margin: 0px;
    color: red;
    background-color:pink;
}

.mfline1,.mfline2,.mfline3{
    width: 5px;
    height: 30px;
    background-color:#A8B1B9;
    position: absolute;
    border: 3px solid #795A4F;
    border-radius: 20px;
}

.mfline1,.mfline2{
    transform: rotate(60deg);

}

.mfline1{
    top:370px;
    left: 115px; 
}

.mfline2{
    top: 370px;
    left: 170px;
}

.mfline3{
    transform: rotate(90deg);
    top: 470px;
    left: 150px;
}
























